<h1><%= @artist.name %></h1>
<a href="/songs/<%= @artist.song.slug %>"><%= @artist.song.name %></a>

  <% @artist.genres.each do |genre| %>
    <a href="/genres/<%= genre.slug %>"><%= genre.name %> </a>
  <% end %>